@charset "utf-8";

body {
    background: #E9D9C0;
    max-width: 1440px;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 img {
    width: 434px;
    vertical-align: baseline;
}

.pc_nav ul {
    display: flex;
    gap: 48px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "Alatsi", sans-serif;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 27px;
        cursor: pointer;
        position: absolute;
        top: 34px;
        right: 27px;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 40.5px;
        height: 2px;
        border-radius: 2px;
        background: #fff;
        position: relative;
        top: 13.5px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 40.5px;
        height: 2px;
        border-radius: 2px;
        background: #fff;
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 13.5px;
    }

    .sp_btn span::after {
        top: 13.5px
    }

    /* ばつ印 */
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;

    }

    .sp_nav li {
        color: #fff;
        font-size: 36px;
        font-family: "Alatsi", sans-serif;
    }
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 144px;
    padding: 0 10px 0 10px;
}

.text {
    height: auto;
    text-align: center;
    margin-bottom: 144px;
}

.text-box1 {
    font-family: "Alatsi";
    font-size: 26px;
    margin: 72px 0 40px;
}

.text-box2 {
    font-size: 64px;
    margin-bottom: 16px;
    line-height: 150%;
}

.text-box3 {
    font-size: 24px;
    line-height: 150%;
}

@media screen and (max-width: 1100px) {
    .text-box2 {
        font-size: 48px;
    }

    .text-box3 {
        font-size: 20px;
    }
}

.ABOUT {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img_box {
    width: 44%;
}

.img_box img {
    border-radius: 0 0 64px 0;
}

h2 div {
    margin-bottom: 40px;
    text-align: start;

}

.copy {
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 1.5;
}

.ABOUT_content {
    margin-left: 40px;
    padding-right: 10px;
    width: 52%;
}

.ABOUT_text {
    font-size: 14px;
    line-height: 1.8;
    /* padding-right: 10px; */
}

@media screen and (max-width: 1100px) {
    h2 div {
        font-size: 36px;
    }
}

.menu_box ul {
    display: flex;
    gap: 32px;
    position: relative;
    /* padding: 0 10px 0 10px; */
}

.MENU {
    font-size: 26px;
    font-family: "Diplomata SC", serif;
    color: #D20202;
    position: absolute;
    top: 95%
}

.menu_box li div {
    position: relative;
    margin-bottom: 23px;
}

.menu_box li div img {
    border-radius: 0 64px 0 0;
}

.MENU_text {
    font-size: 14px;
    line-height: 1.8;
}

.gallery_pic {
    max-width: 1440px;
    display: flex;
    /* width: 20%; */
    margin-bottom: 144px;
}

.gallery_pic img {
    width: 20%;
}

.EVENT_box {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    padding: 32px 0 32px 0;
    border: 1px solid #4F270B;
    background: #fff;

}

.EVENT_item {
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    margin-bottom: 16px;
    /* text-align: left; */
}

.EVENT_box :last-child {
    margin-bottom: 0;
}

iframe {
    display: block;
    width: 100%;
    height: 353px;
}

footer {
    background: #fff;
    padding: 0 10px 0 10px;
}

.footer {
    max-width: 1000px;
    height: auto;
    padding: 80px 0 60px;
    margin: 0 auto;
}

.footer_box {
    display: flex;
    gap: 39px;
    margin-bottom: 80px;
}

.footer_box h1 {
    width: 380px;
}

.footer_box h1 img {
    vertical-align: top;
}

.first-child {
    width: 64px;
}

.info {
    line-height: 1.5;
}

.footer ul li {
    display: flex;
    margin-bottom: 16px;
    gap: 40px;
}

.footer :last-child {
    margin-bottom: 0;
}

.page_top img {
    width: 125px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

/* スライダー */
.slick-dots {
    bottom: -50px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    font-size: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .header_wrap h1 {
        width: 244px;
    }

    .container {
        padding: 0 20px 0 20px;
        margin-bottom: 80px;

    }

    h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .text {
        padding: 0 20px 0 20px;
        margin-bottom: 80px;
    }

    .text-box1 {
        font-size: 16px;
    }

    .text-box2 {
        font-size: 31px;
        font-weight: 500;
        margin: 40px 0 24px;
    }

    .text-box3 {
        display: inline-block;
        font-size: 16px;
        line-height: 200%;
    }

    .ABOUT {
        flex-direction: column;
    }

    .ABOUT_content {
        margin-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .ABOUT h2 {
        margin: 40px 0 40px 0;
        font-size: 32px;
    }

    .ABOUT h2 div {
        text-align: center;
    }

    .copy {
        font-size: 24px;
    }

    .ABOUT_text {
        font-size: 14px;
        line-height: 2;
    }

    .img_box {
        width: 100%;
    }

    .img_box img {
        border-radius: 0;
    }

    .MENU {
        top: 97%;
    }

    .menu_box ul {
        flex-direction: column;
        gap: 40px;
    }

    .menu_box li div img {
        width: 100%;
    }

    #GALLERY h2 {
        font-size: 32px;
    }

    .gallery_pic {
        width: 100%;
    }

    .gallery_pic img {
        width: 288px;
    }

    .EVENT_box {
        padding: 32px 20px 32px 20px;
    }

    .EVENT_box li {
        flex-direction: column;
        gap: 8px;
    }

    .EVENT_box ul {
        width: 100%;
    }

    .EVENT_item {
        margin-bottom: 32px;
    }

    .EVENT_item span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    iframe {
        height: 240px;
    }

    .footer {
        padding: 80px 20px 80px 20px;
    }

    .footer_box {
        flex-direction: column;
        margin-bottom: 248px;
    }

    .footer h1 {
        width: 326px;
    }

    .footer_box ul li {
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;
    }

    .page_top img {
        width: 90px;
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}