@charset "utf-8";

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.blue-box {
    width: 300px;
    height: 300px;
    background: blue;
    border: 1px solid black
}

.red-box {
    width: 300px;
    height: 300px;
    background: red;
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 960px;
    align-items: center;
    margin: 0 auto;

}

.title {
    margin-right: auto
}


.menu {
    display: flex;

    li:last-child {
        border-right: none;
    }
}

.menu-item {
    list-style: none;
    display: inline-block;
    /* display: inline-block; */
    border-right: solid 1px black;
    padding: 30px;
    padding: 10px 30px;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        width: 100%;
    }

    .title {
        padding: 30px 10px 0px;

    }

    .menu {
        flex-direction: column;
        padding: 10px;

    }

    .menu-item {
        padding: 10px;
        border-bottom: solid 1px black;
        border-right: none
    }

}